node_modules
.cache
.DS_Store
lerna-debug.log
yarn-error.log
_book
.idea
.vscode
temp
.temp
website/build
website/i18n/en.json
packages/**/package-lock.json
.history
packages/build*
packages/syberos/*.pro.user
packages/cli/dist
packages/dev-server/dist
packages/dev-server/www
fetch.sh
.markdown
