node_modules
.cache
.DS_Store
lerna-debug.log
yarn-error.log
_book
.idea
.vscode
temp
.temp
website/build
website/package.json
packages/**/package-lock.json
.history
packages/build*
packages/syberos-template/*.pro.user
packages/syberos-cli/dist
packages/syberos-dev-server/dist
packages/syberos-jsbridge/dist

